In [7]:
import numpy as np
from scipy import stats
import scipy.stats
import pandas as pd
import statsmodels.api as sm
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.stats.proportion import proportions_ztest

%matplotlib inline

In [8]:
# matplotlib 패키지 한글 깨짐 처리 시작
matplotlib.rc('font', family="D2Coding")
plt.rc('font', family="D2Coding")

In [9]:
# mycars 데이터 가져오기, 파일명, 변수, 값 등 한글 포함시 engine = "python" 지정
ds_mycars = pd.read_csv("/home/piai/test/Practice/data/mycars.csv", engine="python")
ds_mycars.head()

,manufacturer,model,displacement,year,cylinder,automatic,driving,mpg,highway_mileage,fuel,class
0,audi,a4,1.8,1999,4,auto,f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual,f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual,f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto,f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto,f,16,26,p,compact

In [10]:
ds_mycars.describe().round(3)

       displacement     year  cylinder      mpg  highway_mileage
count       234.000   234.00   234.000  234.000          234.000
mean          3.472  2003.50     5.889   16.859           23.440
std           1.292     4.51     1.612    4.256            5.955
min           1.600  1999.00     4.000    9.000           12.000
25%           2.400  1999.00     4.000   14.000           18.000
50%           3.300  2003.50     6.000   17.000           24.000
75%           4.600  2008.00     8.000   19.000           27.000
max           7.000  2008.00     8.000   35.000           44.000

In [ ]:
# [실습]기술통계 분석

In [11]:
df1 = ds_mycars[['driving', 'mpg']]

In [12]:
df1.head()

  driving  mpg
0       f   18
1       f   21
2       f   20
3       f   21
4       f   16

In [13]:
df1.groupby('driving').describe().round(3)

           mpg
         count    mean    std   min   25%   50%   75%   max
driving
4        103.0  14.330  2.874   9.0  13.0  14.0  16.0  21.0
f        106.0  19.972  3.627  11.0  18.0  19.0  21.0  35.0
r         25.0  14.080  2.216  11.0  12.0  15.0  15.0  18.0

In [14]:
df2 = ds_mycars[['driving', 'highway_mileage']]

In [15]:
df2.head()

  driving  highway_mileage
0       f               29
1       f               29
2       f               31
3       f               30
4       f               26

In [16]:
df2.groupby('driving').describe().round(3)

        highway_mileage
                  count    mean    std   min   25%   50%   75%   max
driving
4                 103.0  19.175  4.079  12.0  17.0  18.0  22.0  28.0
f                 106.0  28.160  4.207  17.0  26.0  28.0  29.0  44.0
r                  25.0  21.000  3.663  15.0  17.0  21.0  24.0  26.0

In [23]:
# [실습]기술통계
df3 = ds_mycars[['model','driving']]

In [24]:
count = df3['driving'].value_counts().sort_index()
count

4    103
f    106
r     25
Name: driving, dtype: int64

In [25]:
percent = count/sum(count) * 100
percent

4    44.017094
f    45.299145
r    10.683761
Name: driving, dtype: float64

In [27]:
cumcnt = np.cumsum(count)
cumcnt

4    103
f    209
r    234
Name: driving, dtype: int64

In [28]:
cumpct = np.cumsum(percent)
cumpct

4     44.017094
f     89.316239
r    100.000000
Name: driving, dtype: float64

In [29]:
count_data = pd.DataFrame({'Count':count, 'Percent':percent, 'CumCnt':cumcnt, 'CumPct':cumpct})

count_data.columns.name = 'driving'

count_data

driving  Count    Percent  CumCnt      CumPct
4          103  44.017094     103   44.017094
f          106  45.299145     209   89.316239
r           25  10.683761     234  100.000000

In [31]:
# [실습] 정규분포의 확률계산
mu = 175
sigma = 5
x = 180
prob = stats.norm.cdf(x, mu, sigma)

print("{0}cm는 대한민국{1:.1f}%".format(x,(1-prob)*100))

180cm는 대한민국15.9%

In [37]:
# [실습] 정규분포의 확률계산
mu = 12
sigma = 3
x1 = 15
x2 = 9
prob1 = stats.norm.cdf(x1, mu, sigma)
prob2 = stats.norm.cdf(x2, mu, sigma)

print("1리터를 가지고 {0}km 이상 {1}km 이하 달릴 확률 : {2:.1f}%".format(x2, x1,(prob1 - prob2)*100))
print("1리터를 가지고 {0}km 이상 달릴 확률 : {1:.1f}%".format(x1,(1-prob1)*100))

1리터를 가지고 9km 이상 15km 이하 달릴 확률 : 68.3%
1리터를 가지고 15km 이상 달릴 확률 : 15.9%

In [38]:
# [실습] t분포
t = 2.0
df = 100

prob = stats.t.cdf(t,df)
print("P(T<=t: {:.3f})".format(prob*100))

P(T<=t: 97.589)

In [ ]:
# seed 선택을 하여 매번 실행 시 동일한 값이 나오도록 설정
np.random.seed(seed=1234)
# 자유도:3, 데이터 수:1000개의 x2 분포를 따르는 데이터 생성
chisq_df10=np.random.chisquare(df=3,size=1000)
# histogram, fit:정규분포 선 생성, kde:x2 분포의 kde 생성 안함
sns.distplot(chisq_df10, fit=stats.norm, kde=False)

In [ ]:
# seed 선택을 하여 매번 실행 시 동일한 값이 나오도록 설정
np.random.seed(seed=1234)
# 자유도:3, 데이터 수:1000개의 x2 분포를 따르는 데이터 생성
chisq_df10=np.random.chisquare(df=50,size=1000)
# histogram, fit:정규분포 선 생성, kde:x2 분포의 kde 생성 안함
sns.distplot(chisq_df10, fit=stats.norm, kde=False)

In [39]:
# [실습] 카이제곱 분포
chisq = 3.0
df = 8

prob = stats.chi2.cdf(chisq,df)
print("P(X<={0}:{1:.4f})".format(chisq, prob))

P(X<=3.0:0.0656)

In [40]:
# [실습] f 분포
f = 1.5
dfnum = 10
dfden = 100

prob = stats.f.cdf(x=f, dfn=dfnum, dfd = dfden)
print("P(X<=F):{:.3f}".format(prob))

P(X<=F):0.850