In [2]:
word = "Python"

word

In [3]:
word[-3]

'h'

In [4]:
word[::]

'Python'

In [7]:
word="12345"

In [8]:
word[:]

'12345'

In [9]:
word[::-1]

'54321'

In [10]:
word[::2]

'135'

In [11]:
word = 'Python'

In [12]:
len(word)

6

In [13]:
s = 'Python is fun!'

In [16]:
s.count('n')

2

In [19]:
s.index('n')

5

In [20]:
a = ','

In [21]:
a.join('1234')

'1,2,3,4'

In [27]:
word="Hello"
print(word[len(word)-1])

o

In [28]:
s2 = "one:two:three"
s2.split(":")

['one', 'two', 'three']

### \n, \t, space로 구분되는 것을 white space 라고 한다.

In [29]:
Ls = [1,2,3,[4,5,6],7]

In [30]:
Ls[1]

2

In [31]:
Ls[3]

[4, 5, 6]

In [32]:
Ls[3][1]

5

In [33]:
b = "adb"

In [34]:
b[1] = 'a'

TypeError: 'str' object does not support item assignment

In [35]:
a = [1,2,3,4,5]

In [36]:
a[1] = 9

In [37]:
print(a)

[1, 9, 3, 4, 5]

## 리스트는 수정이 된다.

In [39]:
del a[0:2]

In [40]:
a

[3, 4, 5]

In [42]:
t = [1,2,3] # 패킹
a,b,c = t # 언패킹
print(a,b,c)

1 2 3

In [47]:
date = input('날짜(연/월/일)입력 : ')
date_list = date.split('/')
year, month, day = date.split('/')
print(f'입력한 날짜의 10년 후는 {int(year)+ 10}년 {month}월 {day}일')

날짜(연/월/일)입력 : 2020/11/02
입력한 날짜의 10년 후는 2030년 11월 02일

In [48]:
map(int,date_list)

In [49]:
list(map(int,date_list))

[2020, 11, 2]

### 조건문, 반복문

In [51]:
x = 70
(x >=60) and (x <= 100)

True

In [54]:
count = 1
while(count <= 5):
    print("Hello", end=", ")
    count += 1

Hello, Hello, Hello, Hello, Hello,

In [56]:
sum1 = 0
count = 1
while(count <= 10):
    sum1 += count
    count += 1
    
print(f'1부터 10까지의 합 : {sum1}')

1부터 10까지의 합 : 55

In [58]:
product = 1
count = 1
while(count <= 10):
    product *= count
    count += 1
    
print(f'1부터 10까지의 곱 : {product}')

1부터 10까지의 곱 : 3628800

In [59]:
for x in "Hello":
    print(x)

H
e
l
l
o

In [60]:
for x in [1,2,3,4]:
    print(x)

1
2
3
4

In [61]:
for i in range(5):
    print(i)

0
1
2
3
4

In [62]:
for x in range(1,11):
    if x==5:
        break # 자기가 속해져있는 가장 작은 Loop만 빠져나온다.
    print(x, end=" ")

1 2 3 4

In [64]:
for x in range(1,11):
    if x==5:
        continue # 자기가 속해져있는 가장 작은 Loop의 조건문으로 돌아간다.(뒷부분 skip)
    print(x, end=" ")

1 2 3 4 6 7 8 9 10

In [65]:
for x in range(1,11):
    if x%2 == 0:
        continue # 자기가 속해져있는 가장 작은 Loop의 조건문으로 돌아간다.(뒷부분 skip)
    print(x, end=" ")

1 3 5 7 9