In [4]:
# 위 학생들은 전산과목을 듣는 학생들이며, 모두 stu_list 목록에 넣어서 관리합시다.
stu_list = [[201801, 84, 73], [201802, 92, 89], [201803, 57, 62], [201804, 58, 68]]

In [6]:
stu_list

[[201801, 84, 73], [201802, 92, 89], [201803, 57, 62], [201804, 58, 68]]

In [7]:
stu_list[2][1]

57

In [8]:
stu_list.sort(reverse=True)

In [9]:
stu_list

[[201804, 58, 68], [201803, 57, 62], [201802, 92, 89], [201801, 84, 73]]

In [14]:
stu_list.sort(key=lambda e:e[1], reverse=True)

In [15]:
stu_list

[[201802, 92, 89], [201801, 84, 73], [201804, 58, 68], [201803, 57, 62]]

In [5]:
balance = 0

def deposit(amount):
    global balance
    balance += amount
    return balance

def withdraw(amount):
    global balance
    balance -= amount
    return balance

print(balance)
print(deposit(500))
print(balance)
print(withdraw(300))
print(balance)

0
500
500
200
200

In [15]:
def make_account():
    return {'balance' : 0}

def deposit(account, amount):
    account['balance'] += amount
    return account['balance']

def withdraw(account, amount):
    account['balance'] -= amount
    return account['balance']

a = make_account()
b = make_account()
print(a['balance'])
print(a['balance'])
print(deposit(a, 1000))
print(deposit(b, 1000))

0
0
1000
1000

In [21]:
a = list([1,2,3])

In [17]:
a.append(5)

In [18]:
a

[1, 2, 3, 5]

In [19]:
a = 5

In [22]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [23]:
def func():
    return None

In [24]:
dir(func())

['__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [40]:
class account:
    bank_name = '우리은행'
    
    def f(a):
        return "hello"
    def __init__(a,name,amount):
        a.name = name
        a.balance = amount

In [83]:
p1_acc = account("홍길동",500)
p2_acc = account("고길동",500)

In [44]:
p1_acc.name

'홍길동'

In [32]:
a.f

In [33]:
a.f()

'hello'

In [34]:
a = list([1,2,3])

In [74]:
class myClass:
    def say1(self, text):
        print(text)
    def say2(self):
        print("bye")

In [75]:
a = myClass()
b = myClass()

In [76]:
a.say1("I am a boy!")

I am a boy!

In [77]:
b.say1("I am a girl!")

I am a girl!

In [67]:
a.say1()
myClass.say1(a)

hello
hello

In [78]:
p1_acc.bank_name = "신한은행"

In [79]:
p1_acc.bank_name

'신한은행'

In [84]:
p2_acc.bank_name

'우리은행'

In [103]:
class BankAccount:
    def __init__(self, balance=0, name="None"):
        self.balance = balance
        self.name = name
        
    def deposit(self, amount):
        self.balance += amount
        return self.balance
    
    def withdraw(self, amount):
        if self.balance >= amount:
            self.balance -= amount
        else:
            print("잔액 부족")
        return self.balance
    
    def get_info(self):
        print(f"이름: {self.name}")
        print(f"잔고: {self.balance}")

In [104]:
abc = BankAccount(5000, "준오")

In [105]:
abc.withdraw(1000)

4000

In [106]:
abc.get_info()

이름: 준오
잔고: 4000

In [147]:
class account():
    def __init__(self, name, amount):
        self.balance = amount
        self.name = name
        
    def __add__(self, acc2):
        self.balance += acc2.balance
        return self
        
    def __str__(self):
        return str(self.balance) + self.name
    
    def get_info(self):
        print(f"이름: {self.name}")
        print(f"잔고: {self.balance}")

In [148]:
p1_acc = account("홍길동", 500)
p2_acc = account("고길동", 1000)

In [149]:
p1_acc = p1_acc + p2_acc

In [150]:
p1_acc.get_info()

이름: 홍길동
잔고: 1500