In [1]:
import numpy as np
from scipy import stats
import scipy.stats
import pandas as pd
import statsmodels.api as sm
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.stats.proportion import proportions_ztest

%matplotlib inline

In [2]:
# matplotlib 패키지 한글 깨짐 처리 시작
matplotlib.rc('font', family="D2Coding")
plt.rc('font', family="D2Coding")

In [3]:
# mycars 데이터 가져오기, 파일명, 변수, 값 등 한글 포함시 engine = "python" 지정
ds_mycars = pd.read_csv("/home/piai/test/Practice/data/mycars.csv", engine="python")
ds_mycars.head()

,manufacturer,model,displacement,year,cylinder,automatic,driving,mpg,highway_mileage,fuel,class
0,audi,a4,1.8,1999,4,auto,f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual,f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual,f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto,f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto,f,16,26,p,compact

In [4]:
ds_mycars.describe().round(3)

       displacement     year  cylinder      mpg  highway_mileage
count       234.000   234.00   234.000  234.000          234.000
mean          3.472  2003.50     5.889   16.859           23.440
std           1.292     4.51     1.612    4.256            5.955
min           1.600  1999.00     4.000    9.000           12.000
25%           2.400  1999.00     4.000   14.000           18.000
50%           3.300  2003.50     6.000   17.000           24.000
75%           4.600  2008.00     8.000   19.000           27.000
max           7.000  2008.00     8.000   35.000           44.000

In [5]:
df = ds_mycars['driving'].value_counts().sort_index()

In [6]:
df

4    103
f    106
r     25
Name: driving, dtype: int64